{% extends "base.html" %}
{% block titulo %} Log Ordenes {% endblock %}

{% block contenido %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Orden</th>
        <th scope="col">Usuario</th>
        <th scope="col">Fecha</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
        {% for mod in data %}
        <tr>
            <td>{{mod["orden"]}}</td>
            <td>{{mod["usuario"]}}</td>
            <td>{{mod["fecha"]}}</td>
            <td>{{mod["accion"]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}