{% extends "base.html" %}
{% block titulo %} Menu Principal {% endblock %}

{% block contenido %} 

<div style="margin: auto; width: 50%; border: 3px solid green; padding: 10px; text-align: center;">
        <a href="/modelos">Modelos</a>
</div>
<div style="margin: auto; width: 50%; border: 3px solid green; padding: 10px; text-align: center;">
    <a href="/clientes">Clientes</a>
</div>
<div style="margin: auto; width: 50%; border: 3px solid green; padding: 10px; text-align: center;">
    <a href="/usuarios">Usuarios</a>
</div>
<div style="margin: auto; width: 50%; border: 3px solid green; padding: 10px; text-align: center;">
    <a href="/ordenes">Ordenes</a>
</div>
<div style="margin: auto; width: 50%; border: 3px solid green; padding: 10px; text-align: center;">
    <a href="/estadisticas">Estadisticas</a>
</div>
<div style="margin: auto; width: 50%; border: 3px solid green; padding: 10px; text-align: center;">
    <a href="/conf_fabrica">Configuracion de fabrica</a>
</div>

{% endblock %}