{% extends "base.html" %}
{% block titulo %} Ordenes {% endblock %}

{% block contenido %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id orden</th>
        <th scope="col">Cliente</th>
        <th scope="col">Fecha de Ingreso</th>
        <th scope="col">Estado</th>
        <th scope="col">Lista de terminales</th>
        <th scope="col">Editar</th>
        <th scope="col">Cancelar orden</th>
      </tr>
    </thead>
    <tbody>
        {% for data in data %}
        <tr>
            <td>{{data["_id"]}}</td>
            <td>{{data["cliente"]}}</td>
            <td>{{data["fecha_ingreso"]}}</td>
            <td>{{data["estado"]}}</td>
            <td><a href="ordenes/terminales/{{data['_id']}}"> Click aqui </a></td>
            <td><a href="ordenes/{{data['_id']}}"> Click aqui </a></td>
            <td><a href="ordenes/cancelar/{{data['_id']}}"> Click aqui </a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}